#game-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}
.game-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;  /* 根据需要调整 */
  height: 100px; /* 根据需要调整 */
  text-align: center; /* 文本水平居中 */
  /* 其他样式 */
}
#roll-dice {
    padding: 10px 20px;
    font-size: 16px;
}
#player {
  position: absolute;
  width: 90px;  /* 稍小于方块以适应边界 */
  height: 90px; /* 稍小于方块以适应边界 */
  /* 其他样式 */
}
